body {
  font-family: "Source Sans Pro", sans-serif;
  color: #404040;
  margin: 0;
}

/* =================
    Typography 
   ================= */

h1 {
  font-weight: 400;
}

.beta-text {
  font-weight: 900;
}

.subheading {
  color: #575757;
  font-weight: 900;
}

/* =================
    Intro
   ================= */

.intro {
  display: flex;
  flex-direction: column;
  min-height: 250px;
  text-align: center;
  justify-content: center;
  color: #fff;
  background-color: #9480e4;
}

/* ====================
    Main content
   ==================== */

.main-content {
  text-align: center;
  padding: 50px 20px;
}

.img-main {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  padding: 8px;
  background: radial-gradient(at top left, #9480e4, transparent),
    radial-gradient(at bottom right, #5ad8f7, transparent),
    radial-gradient(at bottom left, #ff00ff, transparent);
  background-color: #6a5acd;
  box-shadow: 0 10px 25px rgba(148, 128, 228, 0.4);
  border: 4px solid #fff;
  margin-bottom: 20px;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 0;
  color: #333;
}

.subheading {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

/* =================
    Form
   ================= */

/* =================
    Media queries 
   ================= */
